.main{
    background: linear-gradient(#3d1103b2, #271903d2) ,url(../images/bg1.jpg) no-repeat center center fixed; 
    background-size: cover;
    height: 100vh;
}
.item{
      border: 1px solid #ff99005d;
      margin-top: 20px;
      left: 50px;
      width:500px;
      height: 400px;
      text-align: center;
      display: flex;
      color: white;
      box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, .5);
  }
  .button,img{
      text-decoration: none;
      color: #edf0f1;
      font-size: 16px;
      cursor: pointer;   
  }
  .form_left{
      width: 45%;
      background: rgba(20, 20, 20, .8);
      border-right: 2px solid #ff990081;
  }
  .form_left img{
      border-radius: 50%;
      opacity: 0.8;
      height: 250px;
      width: 250px;
      margin-top: 60px;
      
  }
  h2 {
      font-weight: 300;
   }
   .form_right{
      width: 55%;
      padding: 40px 0;
      background: rgba(10, 180, 180, 0.1);
  }